.slider{
	width:100%;
	height:165px;
	background:url('../img/008o_JSeOUQ.jpg') repeat 300px -390px;
	background-size: cover;
	padding-top:110px;
}
.slider strong{
	font-size:39px;
	font-weight:400;
	color:#FFF;
	text-shadow:4px 2px 3px rgba(0,0,0,.85);
	padding-top:25px;
	margin-left:30px;
	display:block;
}
.bg{
	background-color:rgba(0, 0, 0, 0.5);
	width:655px;
	height:135px;
}
.slider p{
	float:left;
	font-size:16px;
	padding-top:10px;
	margin-left:30px;
	color:#fff;
	width:500px;
	font-weight:400;
}

.buttonGOGOGOZaebalsya, .buttonGOGOGOZaebalsya:active{
	margin-top:7px;
	width: 118px;
	background-color: #0097D3;
	margin-left: 501px;
	padding-left: 20px;
	margin-bottom: 55px;
}
.buttonGOGOGOZaebalsya:active{background-color: #0097D3;}
.buttonGOGOGOZaebalsya:hover{background-color: #21ABDC;}
.buttonGOGOGOZaebalsya a{color:#FFF;display:block;padding:15px;font-weight:400;}