/* Псевдо меню */
div.secondmenu{height: 100px;}
.col:hover{
	background-image: -moz-linear-gradient(bottom, #fdfbff 0%, #ebebeb 100%);
	background-image: -o-linear-gradient(bottom, #fdfbff 0%, #ebebeb 100%);
	background-image: -webkit-linear-gradient(bottom, #fdfbff 0%, #ebebeb 100%);
	background-image: linear-gradient(bottom, #fdfbff 0%, #ebebeb 100%);cursor: pointer;
}
.col{
	height:100px;width:100%;
	background-image: -moz-linear-gradient(bottom, #ebebeb 0%, #fdfbff 100%);
	background-image: -o-linear-gradient(bottom, #ebebeb 0%, #fdfbff 100%);
	background-image: -webkit-linear-gradient(bottom, #ebebeb 0%, #fdfbff 100%);
	background-image: linear-gradient(bottom, #ebebeb 0%, #fdfbff 100%);cursor: pointer;
	width: 330px;float:left;
	border-left: 1px solid #fff;
	box-sizing: border-box;
}
.col span{font-size:20px;font-weight:400;display:block;margin-top:25px;}
.col img{margin-left:29px;margin-top:25px;margin-right:25px;float:left;}
.col p{margin-left:107px;margin-top:2px;font-size:15px;color:#595959;}