# Set default charset
AddDefaultCharset UTF-8
DefaultLanguage ru
php_value default_charset "utf-8"

php_value short_open_tag 1

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^/?$ page.php?link=/
  RewriteRule ^([A-Za-z0-9,_,-]+)$ page.php?link=$1 [QSA]
  # [QSA] - flag for transmission GET params to orig address
  # For debug use: print_r($_GET);
</IfModule>
