# в принципе, хватает строки ниже:
AddDefaultCharset UTF-8
# но иногда, могут потребоваться дополнительные установки:
DefaultLanguage ru
php_value default_charset "utf-8"

RewriteEngine on
RewriteBase /
RewriteRule ^/?$ page.php?link=/
RewriteRule ^([A-Za-z0-9,_,-]+)$ page.php?link=$1 [QSA]
#[QSA] - флаг для передачи гет приходящих на ориг адрес
#для отладки адреса print_r($_GET);
