php_value session.save_path /www/home/war/var

RewriteEngine on 
RewriteBase /

#WSGIScriptAlias /bd "/usr/local/www/vkdb/vkdb/apache/django.wsgi"
#Alias /adminmedia/ "/usr/local/www/vkdb/vkdb/adminmedia/"
#Alias /bdstatic/exports/ "/usr/local/www/vkdb/vkdb/static/exports/"

Redirect 301 /bd1 http://war2.ssau.ru/bd

#управление каталогом
RewriteRule ^admin/([a-z,-]*)/?$ admin.php?action=$1
RewriteRule ^admin/([a-z,-]*)/addform/?$ admin.php?action=$1&op=addform
RewriteRule ^admin/([a-z,-]*)/addpage/?$ admin.php?action=$1&op=addpage
RewriteRule ^admin/([a-z,-]*)/del/([0-9,-]*)/?$ admin.php?action=$1&op=del&id=$2
RewriteRule ^admin/([a-z,-]*)/editform/([0-9,-]*)/?$ admin.php?action=$1&op=editform&id=$2
RewriteRule ^admin/([a-z,-]*)/editpage/([0-9,-]*)/?$ admin.php?action=$1&op=editpage&id=$2
RewriteRule ^admin/([a-z,-]*)/editpage/([0-9,-]*)/?$ admin.php?action=$1&op=editpage&id=$2
RewriteRule ^admin/change_pass/?$ admin.php?action=change_pass
RewriteRule ^admin/change_pass/new/?$ admin.php?action=change_pass&op=new

### Выход из админки ### 
RewriteRule ^admin/logout/?$ admin/index.php?action=logout

### Разделы###
RewriteRule ^admin/?$ admin.php

#07032017 Смирнов Артем
#все это лишь костыли, нормальным решением является либо реализация нормальной вложенности (кстати вложенности более чем 2 сделать используюя наше меню не получится), либо необходимо сделать адресацию абсолютную (ссылки уникальны для каждого раздела, страницы, новости). Еще косяк есть и в бд (ссылки, а не уникальные ключи понимаются в виде ключей бд =)
#http://war.ssau.ru/page.php?link=prik = http://war.ssau.ru/fwgf3eg/gerghwe/gw3ghwer/grgheqw/prik
#Уровни вложенности директорий
RewriteRule ^/?$ page.php?link=index
RewriteRule ^([a-z,0-9,-]*)/?$ page.php?link=$1
RewriteRule ^([a-z,0-9,-]*)/([a-z,0-9,-]*)/?$ page.php?razdel=$1&link=$2
RewriteRule ^([a-z,0-9,-]*)/([a-z,0-9,-]*)/([a-z,0-9,-]*)/?$ page.php?razdel=$1&menu=$2&link=$3
RewriteRule ^([a-z,0-9,-]*)/([a-z,0-9,-]*)/([a-z,0-9,-]*)/([a-z,0-9,-]*)/?$ page.php?razdel=$1&menu=$2&sub=$3&link=$4