.totalnames, .totalfields {
	float: left;
}
.totalnames {
	text-align: right;
	padding-right: 10px;
}
.m1 {
	border-bottom: 1px dashed #111;
}
.totalnames > div, .totalfields > div {
	height: 26px;
	float: left;
	clear: left;
	padding: 0px;
	margin: 4px 0px 3px 0px;
}
.totalnames > div {
	margin: 5px 0px 2px 0px;
	width: 200px;
	overflow: hidden;
}
.totalfields > div {
	overflow: hidden;
}
.text1 {
	height: 160px !important;
}
#totalname {
	float: right;
}
#totalgo {
	display: block;
	margin: 7px;
	cursor: hand;
	float: left;
}
#redcap {
	float:right;
}