/* copyright */
.copy{width:930px;
	background-color:#f2f2f2;
	height:28px;
	padding-top: 14px;
	padding-left:30px;
	padding-right:30px;
	color:#4e4a43;
    font-size:13px;
    margin: 0 !important;
}
.copy a {color:#4e4a43;text-decoration: underline;}
.year {float:left;}
.author {float:right;}