body {
    font-family: sans-serif;
    font-size: .9em;
}

.marg30 {
    margin-right: 30px;
    margin-left: 30px;
    width: 930px;
}

#editor_status {
    font-size: 12px !important;
    color: green;
    float: left;
}

#edit_button {
    width: 100px;
}

#textarea1 {
    position: relative;
    display: block;
    width: 930px;
    height: 200px;
    border: 0px solid #ddd;
}

#textarea1-mooeditable-container {
    width: 990px !important;
    border: 0;
    /* border-width: 0px 0px 1px !important; */
}

.mooeditable-iframe {
    margin-left: 30px !important;
    margin-right: 30px !important; 
    height: 300px !important;
    width: 930px !important;
    padding: 0 !important;
}

/* SECTION TEXT-CONTNET */
section a {
	color:#679f33;
	text-decoration: underline;
    -moz-text-decoration-line: underline;
}

/* используется на главной */
.headnews {
	width: 320px;
	font-size: 1.5em;
	font-weight: bold;
	padding: 8px 70px 9px 20px;
	margin: -46px 100px 10px 0px !important;
	color: #fff;
	background-color: #0097D3;
	text-shadow: 0px 1px 2px #000;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

section.text-content {
	display: table;
}

section.text-content #main_cont {
	/* font-family: Marat-Sans-Regular; */
}

#fullpage {
	display: block !important;
}

#fullpage h1 {
	width: 940px !important;
}

#page_title[contenteditable] {
	background-color: orange;
	color: black;
}

section.text-content h1 {
	position: relative;

	/* на главной этот стиль используется */
	width: 520px;

	padding: 6px 20px 6px 50px;
	margin: 30px 10px 10px -50px;

	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

	background-color: #0097D3;
	text-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

section.text-content h1:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px; /* Отступ ищи полоски */
	border-style: solid;
	border-color: #2c4e66 #254a66 transparent transparent;
}
