/* NEWS ELEMENT */

.news {
	width: 930px;
	height: 218px;
	margin-top: 40px;
}

.news h1 {
	position: relative;
	line-height: 21px;
	width:940px;

	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

	/* top, right, bottom, left */
	padding: 6px 20px 6px 50px;
	margin: 0px 0px 10px -50px;


	/* background-image:-moz-linear-gradient(bottom, #47117d 0%, #00044a 100%);
	background-image:-o-linear-gradient(bottom, #47117d 0%, #00044a 100%);
	background-image:-webkit-linear-gradient(bottom, #47117d 0%, #00044a 100%);
	background-image:linear-gradient(bottom, #47117d 0%, #00044a 100%); */

	background-color: #0097D3;
	text-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

.news h1:after {
	content: ' ';

	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;

	border-width:  5px 10px;
	border-style: solid;
	border-color: #2c4e66 #254a66 transparent transparent;
}

.news-body {
	margin-top:20px;
}

.news-body img {
	width: 300px;
	max-height: 200px;
	padding-right: 30px;
	float: left;
}

.news-body p {
	width: 600px;
	float: left;
	height: 155px;
	display: block;
}

.news-body a {
	display: block;
	margin-top: 157px;
	margin-left: 330px;
	padding: 12px;
	position: absolute;

	color: #FFF;
	font-weight: 400;

	background-color: #0097D3;
}

.news-body a:hover {
	background-color: #21ABDC;
	color: #FFF;
}

/* POPUP WINDOW */

#wrap {
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}

.popup_window {
	width: 600px;
	height: 400px;
	margin: 50px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
}

.close {
	margin-left: 564px;
	margin-top: 4px;
	cursor: pointer;
	float: right;
}

.popup_window .name {
	margin-left: 30px !important;
	width: 100%;
}
